.headerSearch {
	width: 900px;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.inputsWrapper {
	display: flex;
	width: 75%;
	justify-content: space-between;
}

.vacancySearch,
.mobVacancySearch {
	width: 68%;
	height: 48px;
	border: none;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.15);
	background-image: url(./assets/searchIcon.svg);
	background-repeat: no-repeat;
	background-position: 20px center;
	padding: 0 50px;
	font-family: Montserrat;
	font-size: 14px;
	line-height: 22px;
	color: #ffffff;
}

.mobVacancySearch {
	display: none;
}

.mobVacancySearch:focus {
	outline: none;
}

.vacancySearch:focus {
	outline: none;
}

.vacancySearch::placeholder,
.mobVacancySearch::placeholder {
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	color: #ffffff;
	opacity: 75%;
}

.vacancySearch:nth-child(3) {
	width: 210px;
	background-image: url(./assets/mapIcon.svg);
}

.candidatesButton {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;

	width: 220px;
	height: 48px;
	color: #303030;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;

	background: #fff9e4;
	border-radius: 8px;
}

.candidatesButton:hover {
	cursor: pointer;
}

@media screen and (max-width: 940px) {
	.headerSearch {
		display: inline;
	}
	.inputsWrapper {
		width: 95%;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.vacancySearch:nth-child(1) {
		width: 70%;
	}
	.vacancySearch:nth-child(2) {
		width: 27%;
	}
	.candidatesButton {
		margin: 0 auto;
	}
}

@media screen and (max-width: 760px) {
	.inputsWrapper {
		flex-direction: column;
	}
	.vacancySearch:nth-child(1) {
		width: 80%;
		margin: 0 auto;
	}
	.vacancySearch:nth-child(3) {
		width: 80%;
		margin: 0 auto;
		margin-top: 10px;
	}
	.candidatesButton {
		width: 76%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 540px) {
	.inputsWrapper {
		flex-direction: column;
	}
	.mobVacancySearch:nth-child(2) {
		display: inline;
		width: 85%;
		margin: 0 auto;
		margin-top: 10px;
	}
	.vacancySearch:nth-child(1) {
		display: none;
	}
	.vacancySearch:nth-child(3) {
		width: 85%;
		margin: 0 auto;
		margin-top: 10px;
	}
	.candidatesButton {
		width: 81%;
		margin: 0 auto;
	}
}
