.headerComponent {
	height: 230px;
	background: url(./assets/headerBackground.jpg);
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: #eaeaea;
	margin-bottom: 20px
}

.headerContainer {
	display: flex;
	margin: 0 auto;
	margin-bottom: 85px;
	padding-top: 12px;
	width: 90%;
	justify-content: space-between;
}

.positionName {
	display: flex;
	justify-content: space-around;
	width: 300px;
}

.positionItem:nth-child(2) {
	font-weight: 600;
}

.headerLanguages {
	display: flex;
	justify-content: space-between;
	width: 156px;
}

.languageBlock {
	display: flex;
	align-items: center;
}

.selectItem {
	width: 60px;
	border: 0;
	background: none;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: #eaeaea;
}

.optionItem {
	color: black;
}

.selectItem:focus {
	outline: none;
}

.enterButton {
	text-decoration: underline;
}

.mobPositionSelection {
	display: none;
}

.userNameBlock {
	display: none;
}

@media screen and (max-width: 940px) {
	.positionName {
		display: none;
	}
	.enterButton {
		display: none;
	}
	.mobPositionSelection {
		display: inline-block;
	}
	.headerContainer {
		margin-bottom: 0;
	}
	.selectItem:nth-child(1) {
		width: 135px;
	}
	.userNameBlock {
		margin: 20px 0 20px 0;
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.userIcon {
		background: url(./assets/userIcon.svg) no-repeat center;
		width: 20px;
		margin-right: 10px;
	}
}

@media screen and (max-width: 760px) {
	.headerComponent {
		height: 300px;
	}
}
